<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button [routerLink]="['/home']" class="btn btn-outline-secondary" type="button">
      <i class="fas fa-home"></i>
      Inicio
    </button>

    <button [routerLink]="['/agenda']" class="btn btn-outline-secondary" type="button">
      <i class="fas fa-calendar-alt"></i>
      Agenda
    </button>

    <button [routerLink]="['/clientes']"  class="btn btn-outline-secondary" type="button">
      <i class="fas fa-user-tag"></i>
      Clientes
    </button>

    <button [routerLink]="['/servicios']" class="btn btn-outline-secondary" type="button">
      <i class="fas fa-wrench"></i>
      Servicios
    </button>

    <button [routerLink]="['/empleados']" class="btn btn-outline-secondary" type="button">
      <i class="fas fa-user-tie"></i>
      Empleados
    </button>

    <button [routerLink]="['/inventario']" class="btn btn-outline-secondary" type="button">
      <i class="fas fa-boxes"></i>
      Inventario
    </button>

    <button [routerLink]="['/historial']" class="btn btn-outline-secondary" type="button">
      <i class="fas fa-history"></i>
      Historial
    </button>
  </form>
</nav>
