<h3>Lista de servicios</h3>
<hr>

<br>


<div class="row animated fadeIn fast">
  <div class="col-md-12">

    <div class="table-responsive" >

      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Empleado</th>
            <th scope="col">Cliente</th>
            <th scope="col">Servicio</th>
            <th scope="col">Costo</th>
            <th scope="col">Observación</th>
            <th class="text-right" scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicio of servicioList">
            <th scope="row">1</th>
            <td>{{servicio.empleado}}</td>
            <td>{{servicio.cliente}}</td>
            <td>{{servicio.servicio}}</td>
            <td>${{servicio.costo}}</td>
            <td>{{servicio.observacion}}</td>
            <td style="width:115px" class="text-right">
              <button (click)="onEdit(servicio)"
                      type="button"
                      class="btn btn-success">
                <i class="far fa-edit"></i>
              </button>
              <button (click)="onDelet(servicio.$key)"
                      type="button"
                      class="btn btn-danger">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
