<h3>Inicio</h3>
<hr>

<ol>
  <li>
    Como primer paso debe registrar a todos sus empleados (gerentes, cajeras, mecánicos).
  </li>
  <li>
    De igual manera debe registrar a todos sus clientes para otorgarles un ID que servirá al momento de realizar una cita o su ticket.
  </li>
  <li>
    Comunique a sus clientes el número que los identificará para agilizar las citas y facturas.
  </li>
  <li>
    Para agendar una cita se pueden ver las fechas disponibles en la agenda, de estar disponible se necesita el ID (número identificador) del cliente (de no saberlo se podrá buscar en el apartado de clientes), la fecha y hora exacta del servicio así como los servicios posibles por realizar para estimar tiempos.
  </li>
  <li>
    Al momento de registrar un auto anotar los servicios que el mecánico realizará, así como observaciones del estado del auto (fallas, faltantes de piezas, rayones, etc) y el costo de los servicios, todo dictado por el mecánico que hizo la revisión inicial.
  </li>
  <li>
    En el historial aparecerán los servicios realizados anteriormente a los autos de dichos clientes, la fecha del servicio y el mecánico encargado de realizar el servicio, en caso de que haya confusiones.
  </li>
</ol>
