<h3>Servicios</h3>
<hr>

<div class="animated fadeIn fast">

    <form #servicioForm="ngForm" (ngSubmit)="onSubmit(servicioForm)">

      <input style="display:none" type="hiden" name="$key" #$key="ngModel" [(ngModel)]="servicioService.selectedServicio.$key">

        <div class="row">
          <div class="col">

            <div class="form-group">
              <label><b>Nombre del empleado</b></label>
              <select [(ngModel)]="servicioService.selectedServicio.empleado"
                      class="form-control"
                      name="empleado"
                      #empleado="ngModel"
                      required>
                <option value="" disabled selected>Selecciona el empleado</option>
                <option *ngFor="let empleado of empleados | async" value="empleado.nombre">{{empleado.nombre}} {{empleado.apellidos}}</option>
              </select>
            </div>


          <div class="form-group">
              <label style="padding-left:0px;" class="col-md-12">Servicio</label>
              <select [(ngModel)]="servicioService.selectedServicio.servicio"
                      class="form-control"
                      name="servicio"
                      #servicio="ngModel"
                      >
                <option value="" disabled selected>Selecciona el servicio</option>
                <optgroup label="Motor">
                  <option value="ruidos en general"> Ruidos en general</option>
                  <option value="soportes"> Soportes</option>
                  <option value="filtro de aire del motor"> Filtro de aire del motor</option>
                  <option value="filtro a/c"> Filtro a/c</option>
                  <option value="nivel de fluido y fugas"> Nivel de fluido y fugas</option>
                  <option value="bandas"> Bandas</option>
                  <option value="sistema de enfriamiento"> Sistema de enfriamiento</option>
                  <option value="mangueras"> Mangueras</option>
                  <option value="nivel de aceite"> Tran./nivel de aceite</option>
                  <option value="motor/niveles"> Motor/niveles</option>
                  <option value="direccion"> Dirección /nivel de aceite</option>
                  <option value="silenciador"> Silenciador/ sist. de escape</option>
                <optgroup label="Carrocería">
                  <option value="Salpicaderas"> Salpicaderas </option>
                  <option value="Facia delantera"> Facia delantera </option>
                  <option value="Facia trasera"> Facia trasera </option>
                  <option value="Puertas"> Puertas </option>
                  <option value="Toldo"> Toldo </option>
                  <option value="Tapa maletero"> Tapa maletero </option>
                  <option value="Capo delantero"> Capo delantero </option>
                  <option value="Retrovisores exteriores"> Retrovisores exteriores </option>
                  <option value="Elevadores electricos"> Elevadores eléctricos </option>
                  <option value="Sistema de airbag"> Sistema de airbag </option>
                  <option value="Cinturones de seguridad"> Cinturones de seguridad </option>
                <optgroup label="Suspensión">
                  <option value="Amortiguadores delanteros"> Amortiguadores delanteros </option>
                  <option value="Amortiguadores traseros"> Amortiguadores traseros </option>
                  <option value="Rotulas"> Rótulas </option>
                  <option value="Cubrepolvos"> Cubrepolvos </option>
                  <option value="Presion de las llantas"> Presión de las llantas </option>
                  <option value="Candados de rin"> Candados de rin </option>
                  <option value="Terminales"> Terminales </option>
                  <option value="Diferencial"> Diferencial </option>
                  <option value="Hules de barra estabilizadora"> Hules de barra estabilizadora </option>
                  <option value="Cremallera"> Cremallera </option>
                <optgroup label="Frenos">
                  <option value="Balatas delanteras"> Balatas delanteras </option>
                  <option value="Balatas traseras"> Balatas traseras </option>
                  <option value="Discos"> Discos </option>
                  <option value="Tambores"> Tambores </option>
                  <option value="Cilindro maestro"> Cilindro maestro </option>
                  <option value="Fugas"> Fugas </option>
                  <option value="Liquido de frenos"> Líquido de frenos </option>
                  <option value="Ajuste freno de mano"> Ajuste freno de mano </option>
                <optgroup label="Otros">
                  <option value="Bateria"> Batería </option>
                  <option value="Luces"> Luces </option>
                  <option value="Limpiaparabrisas"> Limpiaparabrisas </option>
              </select>

          </div>

          <!-- <div class="form-group">
              <label style="padding-left:0px;" class="col-md-12">Carrocería</label>
              <select [(ngModel)]="servicioService.selectedServicio.carroceria"
                      class="form-control"
                      name="carroceria"
                      #carroceria="ngModel"
                      >
                <option value="" disabled selected>Carrocería</option>
                <option value="Salpicaderas"> Salpicaderas </option>
                <option value="Facia delantera"> Facia delantera </option>
                <option value="Facia trasera"> Facia trasera </option>
                <option value="Puertas"> Puertas </option>
                <option value="Toldo"> Toldo </option>
                <option value="Tapa maletero"> Tapa maletero </option>
                <option value="Capo delantero"> Capo delantero </option>
                <option value="Retrovisores exteriores"> Retrovisores exteriores </option>
                <option value="Elevadores electricos"> Elevadores eléctricos </option>
                <option value="Sistema de airbag"> Sistema de airbag </option>
                <option value="Cinturones de seguridad"> Cinturones de seguridad </option>
              </select>

          </div>

          <div class="form-group">
              <label style="padding-left:0px;" class="col-md-12">Suspensión</label>
              <select [(ngModel)]="servicioService.selectedServicio.suspension"
                      class="form-control"
                      name="suspension"
                      #suspension="ngModel"
                      >
                <option value="" disabled selected>Suspensión</option>
                <option value="Amortiguadores delanteros"> Amortiguadores delanteros </option>
                <option value="Amortiguadores traseros"> Amortiguadores traseros </option>
                <option value="Rotulas"> Rótulas </option>
                <option value="Cubrepolvos"> Cubrepolvos </option>
                <option value="Presion de las llantas"> Presión de las llantas </option>
                <option value="Candados de rin"> Candados de rin </option>
                <option value="Terminales"> Terminales </option>
                <option value="Diferencial"> Diferencial </option>
                <option value="Hules de barra estabilizadora"> Hules de barra estabilizadora </option>
                <option value="Cremallera"> Cremallera </option>
              </select>

          </div>

          <div class="form-group">
              <label style="padding-left:0px;" class="col-md-12">Frenos</label>
              <select [(ngModel)]="servicioService.selectedServicio.frenos"
                      class="form-control"
                      name="frenos"
                      #frenos="ngModel"
                      >
                <option value="" disabled selected>Frenos</option>
                <option value="Balatas delanteras"> Balatas delanteras </option>
                <option value="Balatas traseras"> Balatas traseras </option>
                <option value="Discos"> Discos </option>
                <option value="Tambores"> Tambores </option>
                <option value="Cilindro maestro"> Cilindro maestro </option>
                <option value="Fugas"> Fugas </option>
                <option value="Liquido de frenos"> Líquido de frenos </option>
                <option value="Ajuste freno de mano"> Ajuste freno de mano </option>
              </select>

          </div> -->

        </div>
      </div>


        <div class="row">
          <div class="col">

            <div class="form-group">
              <label><b>Nombre del cliente</b></label>
              <select [(ngModel)]="servicioService.selectedServicio.cliente"
                      class="form-control"
                      name="cliente"
                      #cliente="ngModel"
                      required>
                <option value="" disabled selected>Selecciona el cliente</option>
                <option *ngFor="let cliente of clientes | async" value="cliente.nombre">{{cliente.nombre}} {{cliente.apellidos}}</option>
              </select>
            </div>


            <!-- <div class="form-group">
                <label style="padding-left:0px;" class="col-md-12">Otros</label>
                <select [(ngModel)]="servicioService.selectedServicio.otros"
                        class="form-control"
                        name="otros"
                        #otros="ngModel"
                        >
                  <option value="" disabled selected>Otros</option>
                  <option value="Bateria"> Batería </option>
                  <option value="Luces"> Luces </option>
                  <option value="Limpiaparabrisas"> Limpiaparabrisas </option>
                </select>

            </div> -->

          </div>
        </div>


        <div class="row">
          <div class="col">

            <div class="form-group">
              <label>Costo</label>
              <input [(ngModel)]="servicioService.selectedServicio.costo"
                     type="number"
                     class="form-control"
                     name="costo"
                     #costo="ngModel"
                     placeholder="Costo"
                     min="1" pattern="^[0-9]+"
                     required>
            </div>

            <div class="form-group">
              <div class="col-md-12">
               <b>Llantas -- Medida -- Cantidad</b><br>
               <b>14 Inch</b>
                <select name="14inch" class="reg">
                    <option>--.--.--</option>
                    <option name="14inch1">165-65-14</option>
                    <option name="14inch2">175-65-14</option>
                    <option name="14inch3">175-70-14</option>
                    <option name="14inch4">185-60-14</option>
                    <option name="14inch5">185-65-14</option>
                </select>
                <input type="number" name="cantidad" min="0" max="4" >
                <br>
                <b>15 Inch</b>
                <select name="14inch" class="reg">
                    <option>--.--.--</option>
                    <option name="15inch1">175-65-15</option>
                    <option name="15inch2">185-55-15</option>
                    <option name="15inch3">185-60-15</option>
                    <option name="15inch4">185-65-15</option>
                    <option name="15inch5">195-50-15</option>
                </select>
                <input type="number" name="cantidad" min="0" max="4">
                <br>
                <b>16 Inch</b>
                <select name="14inch" class="reg">
                    <option>--.--.--</option>
                    <option name="16inch1">175-60-16</option>
                    <option name="16inch2">185-55-16</option>
                    <option name="16inch3">195-50-16</option>
                    <option name="16inch4">195-55-16</option>
                    <option name="16inch5">195-60-16</option>
                </select>
                <input type="number" name="cantidad" min="0" max="4">
                <br>
                <b>17 Inch</b>
                <select name="14inch" class="reg">
                    <option>--.--.--</option>
                    <option name="17inch1">185-50-17</option>
                    <option name="17inch2">205-40-17</option>
                    <option name="17inch3">205-45-17</option>
                    <option name="17inch4">205-50-17</option>
                    <option name="17inch5">205-55-17</option>
                </select>
                <input type="number" name="cantidad" min="0" max="4">
              </div>

            </div>


            <div class="form-group" style="display: flex; flex-direction: row; justify-content: center;">
              <div class="row">
                <div class="col" style="width:50%">
                  <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save text-left"></i>
                    Guardar
                  </button>
                </div>
                <div class="col" style="width:50%">
                  <button type="button" class="btn btn-secondary" type="reset" (click)="resetForm(servicioForm)">
                    <i class="fas fa-sync-alt"></i>
                    Limpiar
                  </button>
                </div>
              </div>
            </div>

          </div>

      </div>
    </form>
